<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        {{sujet}}
    </title>
    {{!-- CUSTOM CSS --}}
    <link rel="stylesheet" href={{styleLink}}>
</head>
<body>
    <nav>
        <div class="nav-group">
            <a href="#" class="nav-link">
                <img src="" alt="Logo de Musicatalog">
            </a>
        </div>
        <div class="nav-group">
            <a href="#" class="nav-link">{{navHomeName}}</a>
            <a href="#" class="nav-link">{{navDocsName}}</a>
            <a href="#" class="nav-link">{{navContactName}}</a>
        </div>
    </nav>
    <h1>Hello World!</h1>
</body>
</html>